Repository mak633/jssg, changes with the labels that .github/labeler.yml gives for each.
All labels: login, portal, admin, sdk

.github/labeler.yml:

login:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/login/**/*'

portal:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/portal/**/*'

admin:
  - changed-files:
    - any-glob-to-any-file:
      - 'apps/admin/**/*'

sdk:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**/*'

TASK-0: Connect localization to to other services
  apps/admin/package.json
  apps/login/components/term-of-use.tsx
  apps/login/package.json
  apps/portal/package.json
  apps/portal/public/locales/en/translation.json
  apps/portal/tsconfig.json
  apps/portal/utils/config/i18n.ts
  apps/portal/utils/translation-keys.ts
  apps/portal/utils/translations.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: login, portal, admin

TASK-0: fix issues
  apps/admin/app/layout.tsx
  apps/admin/package.json
  apps/login/utils/config/i18n.ts
  apps/portal/Dockerfile
  apps/portal/app/layout.tsx
  apps/portal/package.json
Labels: login, portal, admin

TASK-0: Add stepper and form components
  apps/admin/app/providers.tsx
  apps/admin/package.json
  apps/login/core/types/login.ts
  apps/login/features/admin/components/admin-login-form.tsx
  apps/login/features/login/components/login-form.tsx
  apps/login/package.json
  apps/portal/app/dashboard/page.tsx
  apps/portal/app/layout.tsx
  apps/portal/app/page.tsx
  apps/portal/app/providers.tsx
  apps/portal/app/weekly-quiz/page.tsx
  apps/portal/features/dashboard/dashboard.tsx
  apps/portal/features/dashboard/organisms/welcome-banner.tsx
  apps/portal/features/weekly-quiz/components/quiz-question.tsx
  apps/portal/features/weekly-quiz/components/quiz-section.tsx
  apps/portal/features/weekly-quiz/components/quiz-stepper.tsx
  apps/portal/features/weekly-quiz/weekly-quiz.tsx
  apps/portal/infrastructure/hooks/use-get-quiz.ts
  apps/portal/next.config.mjs
  apps/portal/package.json
  apps/portal/utils/build-quiz-schema.ts
  packages/shared/package.json
  packages/shared/src/components/primitives/form.tsx
  packages/shared/src/components/ui/form.tsx
  packages/shared/src/lib/dummy-data.ts
  packages/shared/src/types/quiz.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: login, portal, admin, sdk

TASK-0: Add i18n to quiz
  apps/login/app/layout.tsx
  apps/portal/app/layout.tsx
  apps/portal/app/providers.tsx
  apps/portal/features/weekly-quiz/components/quiz-congrats.tsx
  apps/portal/features/weekly-quiz/quiz-stepper/components/quiz-question.tsx
  apps/portal/features/weekly-quiz/quiz-stepper/components/quiz-section.tsx
  apps/portal/features/weekly-quiz/quiz-stepper/quiz-stepper.tsx
  apps/portal/features/weekly-quiz/quiz-stepper/quiz-summary/components/quiz-summary-section.tsx
  apps/portal/features/weekly-quiz/quiz-stepper/quiz-summary/quiz-summary.tsx
  apps/portal/features/weekly-quiz/weekly-quiz.tsx
  apps/portal/infrastructure/hooks/use-get-quiz.ts
  apps/portal/public/locales/en/translation.json
  apps/portal/utils/answer-modifier.ts
  apps/portal/utils/build-quiz-default-values.ts
  apps/portal/utils/build-quiz-schema.ts
  apps/portal/utils/filter-quiz.ts
  apps/portal/utils/translations.json
  packages/shared/package.json
  packages/shared/src/components/primitives/input.tsx
  packages/shared/src/components/primitives/scroll-area.tsx
  packages/shared/src/components/primitives/table.tsx
  packages/shared/src/components/ui/form.tsx
  packages/shared/src/components/ui/stepper/vertical-step.tsx
  packages/shared/src/globals.css
  packages/shared/src/lib/dummy-data.ts
  packages/shared/src/types/quiz.ts
  pnpm-lock.yaml
Labels: login, portal, sdk

TASK-0: clean up
  apps/admin/app/layout.tsx
  apps/admin/infrastructure/hooks/use-get-users.ts
  apps/login/app/layout.tsx
  apps/portal/app/layout.tsx
  apps/portal/infrastructure/hooks/use-get-quiz.ts
  packages/shared/src/components/primitives/alert.tsx
  packages/shared/src/components/primitives/badge.tsx
  packages/shared/src/components/primitives/button.tsx
  packages/shared/src/components/primitives/card.tsx
  packages/shared/src/components/primitives/command.tsx
  packages/shared/src/components/primitives/dialog.tsx
  packages/shared/src/components/primitives/dropdown-menu.tsx
  packages/shared/src/components/primitives/sidebar.tsx
  packages/shared/src/components/primitives/tabs.tsx
  packages/shared/src/components/ui/command-center.tsx
  packages/shared/src/components/ui/modal/confirmation-dialog.tsx
  packages/shared/src/hooks/use-global-command.ts
  packages/shared/src/lib/utils.ts
  packages/shared/src/types.ts
Labels: login, portal, admin, sdk

TASK-0: Docker and login fixes
  .env.example
  apps/admin/Dockerfile
  apps/admin/app/layout.tsx
  apps/admin/environment.ts
  apps/login/Dockerfile
  apps/login/app/layout.tsx
  apps/login/app/providers.tsx
  apps/login/components/mock-users.tsx
  apps/login/environment.ts
  apps/login/features/admin/components/admin-login-form.tsx
  apps/login/features/login/components/login-form.tsx
  apps/login/features/login/components/login-options.tsx
  apps/login/features/register/components/register-form.tsx
  apps/login/public/locales/en/translation.json
  apps/login/types/login.ts
  apps/login/utils/translations.json
  apps/portal/Dockerfile
  apps/portal/app/layout.tsx
  apps/portal/components/header-content.tsx
  apps/portal/environment.ts
  docker-compose.yml
  packages/shared/src/components/ui/layout/header.tsx
  packages/shared/src/components/ui/user/user-avatar.tsx
  packages/shared/src/components/ui/user/user-menu.tsx
  packages/shared/src/contexts/auth-context.tsx
  packages/shared/src/environment.ts
  packages/shared/src/lib/dummy-data.ts
  packages/shared/src/lib/utils.ts
  packages/shared/src/types/base.ts
  turbo.json
Labels: login, portal, admin, sdk

TASK-0: Add some test
  apps/admin/jest.config.json
  apps/admin/jest.setup.ts
  apps/admin/package.json
  apps/login/jest.config.json
  apps/login/jest.setup.ts
  apps/login/package.json
  apps/portal/jest.config.json
  apps/portal/jest.setup.ts
  apps/portal/package.json
  apps/portal/test/e2e/auth.setup.ts
  apps/portal/test/e2e/pages/index/index.spec.ts
  apps/portal/test/unit/utils/build-quiz-schema.test.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: login, portal, admin

TASK-0: Update version for pnpm and fix small issues
  apps/admin/Dockerfile
  apps/admin/public/locales/en/translation.json
  apps/admin/test/e2e/auth.setup.ts
  apps/admin/test/e2e/pages/index/index.spec.ts
  apps/login/Dockerfile
  apps/login/app/layout.tsx
  apps/login/test/e2e/pages/index/index.spec.ts
  apps/portal/Dockerfile
  package.json
Labels: login, portal, admin

TASK-0: Clean up
  apps/admin/package.json
  apps/login/package.json
  apps/portal/package.json
  apps/portal/test/unit/utils/build-quiz-schema.test.ts
  package.json
  packages/shared/package.json
  packages/shared/src/lib/dummy-data.ts
  packages/shared/src/types/quiz.ts
  pnpm-workspace.yaml
Labels: login, portal, admin, sdk

TASK-0: Update dep
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

TASK-0: Add readme
  README.md
Labels: none

TASK-0: Improve readme
  README.md
Labels: none

TASK-0: Modify read me and hook
  README.md
  apps/admin/infrastructure/hooks/use-get-users.ts
Labels: admin

Update README.md
  README.md
Labels: none

TASK-0: Format and fix
  README.md
  apps/admin/infrastructure/hooks/use-get-users.ts
  apps/login/app/layout.tsx
  apps/login/components/mock-users.tsx
  apps/portal/app/layout.tsx
  apps/portal/components/header-content.tsx
  apps/portal/test/unit/utils/build-quiz-schema.test.ts
  packages/shared/src/components/ui/layout/header.tsx
  packages/shared/src/components/ui/user/user-menu.tsx
  packages/shared/src/contexts/auth-context.tsx
  packages/shared/src/lib/utils.ts
  packages/shared/src/types/base.ts
Labels: login, portal, admin, sdk

Update README.md
  README.md
Labels: none
